    @media (min-width: 500px) {
      * {
        box-sizing: border-box;
        background: white;
        text-decoration: none;
        color: black;
        font-family: sans-serif;
      }

      .image1 {
        display: block;
        margin-left: 0;
        margin-right: auto;
        max-width:50%;
        height:auto;
    }

    .image2 {
      max-width:100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height:auto;
  }

    .image3 {
      display: block;
      margin-top: -80vw;
      margin-left: 45vw;
      margin-right: auto;
      height:auto;
      max-width:50%;
      height:auto;
    }

      .title {
       text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .subtitle {
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .intro {
        margin: 0 auto;
        text-align: left;
        width: 90vw;
        line-height: 1.2;
      }

      .flex-container {
        display: flex;
        justify-content: center;
        width: 80vw;
        padding-left: 8vw;
        margin-top: -2vw;
        padding-bottom: 2vw;
      }

      .work {
        float: center;
        margin: 0 auto;
        margin-top: 2vh;
        padding-top: 15px;
        text-align: center;
        font-size: 24px;
        border: 0.5px solid white;
      }

      .cv {
        float: center;
        margin: 0 auto;
        margin-top: 2vh;
        padding-top: 15px;
        text-align: center;
        font-size: 24px;
        border: 0.5px solid white;
      }

      .research {
        float: center;
        margin: 0 auto;
        margin-top: 2vh;
        padding-top: 15px;
        text-align: center;
        font-size: 24px;
        border: 0.5px solid white;
      }

      .projects {
        float: center;
        margin: 0 auto;
        margin-top: 2vh;
        padding-top: 15px;
        text-align: center;
        font-size: 24px;
        border: 0.5px solid white;
      }

      .work:hover{
        transform: scale(1.15);
      }

      .cv:hover{
        transform: scale(1.15);
      }

      .research:hover{
        transform: scale(1.15);
      }

      .projects:hover{
        transform: scale(1.15);
      }

      .buttons {
        margin-left: 10.5vw;
      }
    }


    @media (max-width: 500px) {
      * {
        box-sizing: border-box;
        background: white;
        text-decoration: none;
        color: black;
        font-family: sans-serif;
      }

      .title {
       text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .subtitle {
       text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .intro {
        margin: 0 auto;
        text-align: left;
        width: 90vw;
        line-height: 1.2;
      }

      .flex-container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 80vw;
        padding-left: 8vw;
        padding-top: -20vw;
        padding-bottom: 2vw;
      }

      .work {
        float: center;
        margin: 0 auto;
        margin-top: 2vh;
        padding-top: 15px;
        text-align: center;
        font-size: 24px;
        border: 0.5px solid white;
      }

      .cv {
        float: center;
        margin: 0 auto;
        margin-top: 2vh;
        padding-top: 15px;
        text-align: center;
        font-size: 24px;
        border: 0.5px solid white;
      }

      .research {
        float: center;
        margin: 0 auto;
        margin-top: 2vh;
        padding-top: 15px;
        text-align: center;
        font-size: 24px;
        border: 0.5px solid white;
      }

      .projects {
        float: center;
        margin: 0 auto;
        margin-top: 2vh;
        padding-top: 15px;
        text-align: center;
        font-size: 24px;
        border: 0.5px solid white;
      }

      .work:hover{
        transform: scale(1.15);
      }

      .cv:hover{
        transform: scale(1.15);
      }

      .research:hover{
        transform: scale(1.15);
      }

      .projects:hover{
        transform: scale(1.15);
      }

      .buttons {
        margin-left: 10.5vw;
      }
    }
